body {
  padding: 100px;
  margin: 0px;
  background-color: lightgrey;
  font-size: 24px;
  font-family: cursive;
}

input {
  font-size: 24px;
  padding: 5px 10px;
  color: red;
}

::placeholder {
  color: blue;
  opacity: 1;
}
::-ms-input-placeholder {
  color: blue;
  /*Edge*/
}

/*Скроллинг*/
::-webkit-scrollbar {
  width: 25px;
  background: #101124;
}
::-webkit-scrollbar-track {
  border: 5px solid rgba(255, 0, 0, 0.25);
  box-shadow: inset 0 0 2.5px 2px rgba(255, 0, 0, 0.5);
}
::-webkit-scrollbar-thumb {
  background: linear-gradient (45deg, #00ffa1, #00ffff)
  border-radius: 15px;
}

button {
  width: 200px;
  height: px;
  background-image: url(/Рабочий стол/CSS (webSev)/tap.jpg);
  background-position: top;
  background-size: cover;
  text-indent: -9999px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: blue;
}

button:hover {
  background-position: center;
}

button:active {
  background-position: bottom;
}
