.example {
  width: 100px;
  height: 100px;
  background-color: grey;
  margin: 20px;

  /*скругление углов*/

  border-radius: 20px;
}

  .example2 {
    width: 100px;
    height: 100px;
    background-color: yellow;
    margin: 20px;
  /* сделать круг  */
  border-radius: 50px;
}

.example3 {
  width: 100px;
  height: 100px;
  background-color: red;
  margin: 20px;

  /* можем стилизовать более необыкновенные формы задаются по часовой
  ИЛИ
  окружность с заданным радиусом
  border-radius: 50px 40рх 30рх 20рх;
  */
  border-radius: 50px 40px 30px 20px;
}

.example4 {
  width: 100px;
  height: 100px;
  background-color: orange;
  margin: 20px;

  /* можем сделать эллипс*/
  border-radius: 20px/40px;
}

/*списки*/

ul li {
  list-style-type: circle;

  /*управление позиционированием списка*/
  list-style-position: inside;
/*можно указать списку, как будет выглядеть маркировка, по-мимо цифро-буквенного и маркерного, муказать иконку
ЕДИНСТВЕННОЕ РАЗМЕР ИКОНКИ НИКАК НЕ ПОМЕНЯТЬ
list-style-image: url ();
*/
}

h1 {
  color: red;
}
