.example {
  border: 2px solid black;
  width: 200px;
  height: 200px;
  background-color: aqua;
  transition-duration: 500ms, 2s;
  /* можем указать одно св-во, либо указать конкретные чернез запятую*/
  transition-property: all;
  transition-delay: 0,500ms;
  transition-timing-function: linear;

}

.example:hover {
  background-color: yellow;
  transform: scale(1.2);
}
